# settings files #
##################
node_modules/
.vs/
.vscode/
server/C/CMakeSettings.json
tests/cem_orig/CMakeSettings.json
tests/cem_boundary_conds/CMakeSettings.json

# client side dist files #
##########################
_dist/

# server side compiles files #
##############################
server/C/_build/
server/C/py_interface/cem_EXPORTS.h
tests/cem_orig/_build/
tests/cem_boundary_conds/_build

# test files #
##############
tests/test/output/

# autosave #
############
**/*.asv