# settings files #
##################
node_modules/
.vs/
.vscode/

# client side dist files #
##########################
_dist/

# server side compiles files #
##############################
server/C/_build/
server/C/bmi/bmi_EXPORTS.h

# test files #
##############
server/test/output

# private key *
###############
private_key.json