
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #efefef;
  font-size: 15px;
  line-height: 1.5;
}

/* header and progress bar */
.header-container {
    height: 15%;
    font-weight: bold;
    font-size: 18px;

    .header {
        color: #fff!important;
        background-color: #000!important;
        z-index: 4;
        width: 98%;
        padding: 1%;
    }

    .progress-bar {    
        color: #000!important;
        width: 100%;
        margin-top: 8px;
        padding: 0 0.5%;
    }

    .tile {
        color: #fff;
        width: 23.5%;
        float:left;
        margin: 2px 0.5%;
        text-align: center;
        border-width: 2px;
        border-style: outset; 

        &:hover {
            cursor: pointer;
        }

        &[selected] {
            cursor: default;
            border-style: inset;
            filter: brightness(80%);
        }
    }

    .tile-inner {
        padding: 5px;
    }

    .tile-red {
        background-color: #f44336;
        border-color: #f44336;
    }

    .tile-blue {
        background-color: #2196F3;
        border-color: #2196F3;
    }

    .tile-green {
        background-color: #009688;
        border-color: #009688;
    }

    .tile-yellow {
        background-color: #ff9800;
        border-color: #ff9800;
    }
}

/* map and input panes*/
.app-container{
    height: 78%;
    width: 98%;
    padding: 1%;
    overflow: auto;

    .section {
        margin-bottom: 8px;
    }

    .map-container {
        height: 60%;
        width: 60%;
        background-color: #fff;
        float: left;
    }

    #map {
        height: 100%;
    }

    .tab-view-container {    
        height: 60%;
        width: 39%;
        float: left;
        background-color: #fff;
        margin-left: 1%;

        .tab-view {
            display: none;
            height: 100%;
        }
    }

    .section-title {
        font-size: 18px;
        font-weight: bold;
        display: inline;
        padding-top: 10px;
    }

    .content-pane {
        padding: 2.5%;
        height: 95%;
        overflow: auto;
    }

    .input {
        margin: 0px 10px;
        font-size: 14px;
    }

    .bounds-table {
        font-size: 16px;
    }
    
    .button {    
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        padding: 5px;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
    
        &[disabled] {
            cursor: default;
        }
        &[selected] {
            border-style: inset;
        }
    }
    
    .output-pane {
        background-color: #d3d3d3;
        overflow: auto;
        height: 230px;
        width: 95%;
        padding: 5px 10px;

        .output-table{
            width: 100%;

            th {
                border: 1px solid black;
            }
        }
    }

    /* Edit modal window */
    .modal {
        display: none; /* Hidden by default */
        position: absolute; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            border: 1px solid #888;
            width: 360px;
            
            .header {                
                font-size: 18px;
                color: #fff!important;
                background-color: #000!important;
                padding: 5px 10px;
            }

            .edit-pane{                
                padding: 20px 30px;
                width: 300px;

                .cell {
                    background-color: #333!important;
                    border: 1px solid #000;
                    width: 300px;
                    height: 300px;
                }
    
                .cell-full {
                    background-color: #fffaaa!important;
                }

                .alignment-buttons {
                    margin-left: 35px;
                }

                .top-button, .bottom-button {
                    margin-left: 80px;
                }

                .right-button {
                    margin-left: 70px;
                }
            }            

            .button {
                width: 75px;
            }

            .button-container {
                text-align: right;
                padding: 10px;
            }
        }
    }
}

/* Google sign in */
.hidden {
    display: none;
  }

.g-sign-in {
    .button {
        display: inline-block;
        background: #4285f4;
        color: white;
        width: 190px;
        border-radius: 5px;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
        }
    }

    .label {
        font-weight: bold;
    }
    .icon {
        background: url('extern/resources/g-icon.png') transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
        border-right: #2265d4 1px solid;
    }

    .button-text {
        display: inline-block;
        vertical-align: middle;
        padding-left: 42px;
        padding-right: 42px;
        font-size: 14px;
        font-weight: bold;
    }
}

/* footer */
.footer {
    width: 100%;
    color: #fff;
    background-color: #616161;
}
